{{!< default}}
<header class="blog-header {{#if @site.cover_image}} has-cover{{/if}}">
</header>
<div id="home" class="margin-top-header container">

	<main class="content" role="main">
    
		<div class="row">
      <div class="col-md-8">
        <span class="top-header">Marketing To Technical Customers</span>
        <h1 class="custom-title">Reach Developers</h1>
        <span class="subtitle">Signet Science is a trailblazing strategic consultancy focusing on the business-to-developer (B2D) marketing space.</span>

      </div>
      <div class="col-md-4">
        <img src="{{asset "image/noun_abstract_2379613.png"}}" class="img-size">
      </div>
    </div>
    <div class="margin-revert-2">
      <span class="subtitle1">We combine the power of behavioral science, the art of technical communications and the practices of the product driven medel to help our technology based customers reach the new class of sophisticated customers.</span>
    </div>
    <div class="flex-direction">
      <div class="subtitle1">
        Keep up with our latest developments!
      </div>
      <div class="btn-text">
        <button class="btn-primary subscribe-btn" data-portal="account">Subscribe</button>
      </div>
    </div>
    <hr class="color-blue"/>

    
    <div>
      <div class="subtitle2">
        <span>Featured Post</span>
      </div>
      {{> "loop"}}
      {{!-- <div class="row-direction">
        <div class="col-direction">
          <img src="{{asset "image/Screenshot_1.jpg"}}" style="width: 100%;">
          <div class="subtitle3">What is B2D Anyway and Why Should you Care?</div>
          <div class="contents">Lorem imsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididiunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ca commodo conscequat.</div>
        </div>
        <div class="col-direction">
          <img src="{{asset "image/Screenshot_2.jpg"}}" style="width: 100%;">
          <div class="subtitle3">Building a Dev Rel Team from Scratch</div>
          <div class="contents">Lorem imsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididiunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ca commodo conscequat.</div>
        </div>
        <div class="col-direction">
          <img src="{{asset "image/Screenshot_3.jpg"}}" style="width: 100%;">
          <div class="subtitle3">APIs, CLIs and SDKs are Key Tooling Attractors</div>
          <div class="contents">Lorem imsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididiunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ca commodo conscequat.</div>
        </div>
      </div> --}}

    </div>

    <div class="margin-top-5">
      <span class="subtitle2">Featured Resource</span>
    </div>

    <a href="https://ghost.org/themes/">
        <div class="bottom-layout">
            <div style="padding: 4rem;">
              <div class="content1"> Ghost Handlebars Themes - Building a custom Ghost theme - Docs</div>
              <div class="content2">Our handlebars theme templating framework works with the Ghost API to build flexible publishing websites. Get all the tools you need to start buildin...</div>
              <div class="content3">Ghost - The Professional Publishing Platform</div>
            </div>
            <img src="{{asset "image/Screenshot_4.jpg"}}" class="img-bottom-size">
        </div>
    </a>

	</main>

</div>
